<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cyanogenmod.defyparts"
          android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:label="@string/app_name">
        <activity android:label="@string/app_name"
                  android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="com.cyanogenmod.action.LAUNCH_DEVICE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity android:name=".BpPanicNotifyActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".BpPanicRebootNoticeActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name=".LtoReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BpPanicReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".LtoDownloadService" />

        <service android:name=".BpPanicHandlerService" />

    </application>

</manifest>
