<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cyanogenmod.defyparts"
          android:sharedUserId="android.uid.system">

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_shortname"
            android:name=".SettingsActivity" >

            <!-- icon in launcher -->
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <!-- link in settings -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.cyanogenmod.action.LAUNCH_DEVICE_SETTINGS" />
            </intent-filter>

        </activity>
    </application>

</manifest>
