# Copyright (C) 2012 The Android Open Source Project
#
# USB configuration for Defy
#

on post-fs-data
    chown system system /sys/devices/platform/usb_mass_storage/lun0/file
    chmod 0660 /sys/devices/platform/usb_mass_storage/lun0/file

# Used to disable USB when switching states
on property:sys.usb.config=none
    stop adbd
    setprop sys.usb.state ${sys.usb.config}

# adb only USB configuration
# This should only be used during device bringup
# and as a fallback if the USB manager fails to set a standard configuration
on property:sys.usb.config=adb
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB accessory configuration
on property:sys.usb.config=accessory
    setprop sys.usb.state ${sys.usb.config}

# USB accessory configuration, with adb
on property:sys.usb.config=accessory,adb
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config ${persist.sys.usb.config}

